body {
  font-family: Arial, sans-serif;
  background-color: #3a75c9;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
}

.dashboard {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: rgb(98, 162, 210);
  padding: 20px;
  width: 350px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card h3 {
  margin-top: 0;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input, select, textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

textarea {
  resize: none;
  height: 60px;
}

button {
  margin-top: 15px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}


.events-container {
  margin-top: 15px;
}

.event-item {
  background: #eef3ff;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
  position: relative;
}

.delete-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  background: red;
  color: white;
  border: none;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
}
